{% extends 'blog/base.html' %}
{% load static %}
    {% block content %}
        <div class="col-sm-10 ">
            <h3 class="text-white my-5">About Page</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est exercitationem quos, excepturi perspiciatis autem iure alias minus, provident culpa nemo neque aut maxime laboriosam?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo quam dicta aspernatur incidunt dolorem adipisci, corrupti est eos, vero placeat laudantium! Non, voluptates quis?</p>
        </div>

    {% endblock content %}